<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width:device-width, initial-scale:1">
        <title>Books</title>
        <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}/favicon.ico" alt="Nothing">
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load crispy_forms_tags %}
        <script>
            function goBack(){
                window.history.back()
            }
            function goFoward(){
                window.history.forward()
            }
        </script>
    </head>
    <body>
        <div class="bg-success" style="text-align: center;">
            <h1 class="mx-auto">HannetPaul</h1>
        </div>
        <div class="btn btn-dark text-white" onclick="goBack()">back</div>    
        <div class="btn btn-dark text-white float-end" onclick="goFoward()">forward</div>    
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Upload</button>
        </form>
    </body>
</html>